* {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    color: black;
}
hr {
    height: 1px;
    background: #578F8C;
}
body {
    background: url('../img/bg-img.jpg');
    background-size: 100vw;
}
.container {
    width: 920px;
    margin: 60px auto;
    background: #fff;
    border-radius: 5px;
    height: 1400px;
}
.header img:first-child {
    border: 1px solid #fff;
    border-radius: 100px;
    float: left;
}
.content {
    padding: 25px 35px;
}
.title {
    float: left;
    margin: 15px 0 0 20px;
}
.contact {
    float: right;
    font-size: 12px;
    font-weight: 600;
}
.title h1 {
    font-size: 30px;
    font-weight: 400;
}
.title h3 {
    font-size: 16px;
    font-weight: 400;
    color: #479099;
}
.contact p {
    float: left;
    width: 160px;
    margin-right: 10px;
    text-align: right;
}
.contact li {
    margin-bottom: 8px;
}
#motivation {
    font-size: 14px;
    padding-top: 30px;
    clear: both;
    text-align: justify;
    line-height: 1.4em;
}
.main {
    margin-top: 15px;
}
.left-side {
    width: 45%;
    float: left;
}
.right-side {
    width: 45%;
    float: right;
}
.section {
    font-size: 21px;
    margin-top: 40px;
}
.main ul, #education .position {
    margin-top: 20px;
}
.position {
    font-size: 18px;
}
#projects h3 {
    float: left;
    width: 250px;
    margin-right: 20px;
}
#projects li {
    margin-bottom: 20px;
}
#projects h3::before {
    content: "—  ";
    color: #479099;
}
#experience p::before {
    content: "- ";
    color: #479099;
}
#experience p {
    text-align: justify;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5em;
}
.company {
    font-size: 18px;
    font-weight: 400;
}
.work-duration {
    font-size: 12px;
    font-style: italic;
    color: #30727a;
    font-weight: 600;
    margin-top: 8px;
}
h5 {
    color: #388c96;
    margin: 8px 0 5px 0;
}
#experience .position {
    margin-top: 20px;
}
#skills p {
    float: left;
    width: 185px;
    margin-right: 50px;
}
#skills li {
    margin-top: 20px;
}
#soft-skills li {
    display: inline-block;
    background: #479099;
    color: #fff;
    height: 20px;
    padding: 5px 5px;
    margin: 8px 8px 0 0;
    border-radius: 5px;  
}
#languages p {
    float: left;
    width: 70px;
    margin-right: 150px;
}
#languages li {
    margin-top: 10px;
}
#interests p {
    display: inline;
    margin-left: 8px;
}
#interests li {
    display: inline;
    margin-right: 30px;
}
h4 {
    font-size: 14px;
    font-weight: 600;
}
#certificates span {
    font-size: 12px;
    font-style: italic;
    color: #878787;
}
#certificates li {
    margin-bottom: 15px;
}
.contact a li p:hover {
    color: rgb(87, 143, 140);
    transition: 0.5s;
  }

  @media only screen and (max-width: 940px) and (min-width: 686px) {
    .container {
        width: 100%;
    }
    .left-side, .right-side {
        width: 40%;
    }
    .container {
        height: 1600px;
    }
   
  }
  @media only screen and (max-width: 685px) {
    .header img:first-child {
        clear: left;
    }
    .contact {
        clear: right;
        width: 100%;
        margin-top: 20px;
    }
    .container {
        height: 2800px;
    }
    .left-side, .right-side {
        width: 100%;
    }
    #motivation {
        width: 50%;
    }
    #soft-skills li {
        display: block;
        width: 40%;
        text-align: center;
    }
  }

  .preview img:hover {
    content: url('../img/icons/preview-blue.png');
 }  